In [4]:
import pandas as pd
from pandasql import sqldf
from pandasql import load_births

In [6]:
births = load_births()
print(births)

          date  births
0   1975-01-01  265775
1   1975-02-01  241045
2   1975-03-01  268849
3   1975-04-01  247455
4   1975-05-01  254545
..         ...     ...
403 2012-08-01  359554
404 2012-09-01  361922
405 2012-10-01  347625
406 2012-11-01  320195
407 2012-12-01  340995

[408 rows x 2 columns]

In [8]:
print(sqldf('SELECT * FROM births where births > 250000 limit 5;',locals()))

                         date  births
0  1975-01-01 00:00:00.000000  265775
1  1975-03-01 00:00:00.000000  268849
2  1975-05-01 00:00:00.000000  254545
3  1975-06-01 00:00:00.000000  254096
4  1975-07-01 00:00:00.000000  275163

In [9]:
# Standard ANSI SQL
q = """
        select
            date(date) as DOB,
            sum(births) as "Total Births"
         from
             births
         group by
             date
             limit 10;
"""
print(sqldf(q,locals()))

          DOB  Total Births
0  1975-01-01        265775
1  1975-02-01        241045
2  1975-03-01        268849
3  1975-04-01        247455
4  1975-05-01        254545
5  1975-06-01        254096
6  1975-07-01        275163
7  1975-08-01        281300
8  1975-09-01        270738
9  1975-10-01        265494

In [10]:
print(sqldf(q,globals()))

          DOB  Total Births
0  1975-01-01        265775
1  1975-02-01        241045
2  1975-03-01        268849
3  1975-04-01        247455
4  1975-05-01        254545
5  1975-06-01        254096
6  1975-07-01        275163
7  1975-08-01        281300
8  1975-09-01        270738
9  1975-10-01        265494

In [11]:
def pysqldf(q):
    "add this to your script if you get tired of calling locals()"
    return sqldf(q,globals())

In [12]:
print(pysqldf(q))

          DOB  Total Births
0  1975-01-01        265775
1  1975-02-01        241045
2  1975-03-01        268849
3  1975-04-01        247455
4  1975-05-01        254545
5  1975-06-01        254096
6  1975-07-01        275163
7  1975-08-01        281300
8  1975-09-01        270738
9  1975-10-01        265494

In [15]:
pwd # current working directory

'C:\\Users\\Adria\\Documents\\MEGA\\Universidad\\PDeng\\Trabajo\\Courses\\2nd Year Project\\Python'